<launch>

  <!-- Load URDF onto the parameter server -->
  <param name="robot_description"
         textfile="$(find amph)/urdf/amph.urdf" />

  <!-- Start Gazebo with the SPlisHSPlasH fluid world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find amph)/worlds/amph_fluid.world" />
    <arg name="paused"     value="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui"        value="true" />
  </include>

  <!-- Load controller configuration -->
  <rosparam file="$(find amph)/config/trajectory_controllers.yaml"
            command="load" />

  <!-- Start controllers (joint_state and trajectory) -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="--namespace /amph joint_state_controller joint_trajectory_controller"
        output="screen" />

  <!-- Publish TF from joint states -->
  <node name="robot_state_publisher" pkg="robot_state_publisher"
        type="robot_state_publisher" output="screen">
    <param name="publish_frequency" value="100.0" />
  </node>


</launch>
