<launch>

  <arg name="gui_required" default="true" />
  <arg name="npz_path"    default="/home/ws/task3_guess.npz" />
  <arg name="n_repeat"    default="3" />
  <arg name="bag_path"    default="/home/ws/sim_log.bag" />

  <!-- Load URDF onto the parameter server -->
  <param name="robot_description"
         textfile="$(find amph)/urdf/amph.urdf" />

  <!-- Start Gazebo with the swimming pool world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find amph)/worlds/swimming_pool.world" />
    <arg name="paused"     value="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui"        value="false" />
  </include>

  <group if="$(arg gui_required)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" required="true"
          args=" --verbose -g libFluidVisPlugin.so"/>
  </group>

  <!-- joint_state_controller for TF/state publishing -->
  <rosparam param="/amph/joint_state_controller/type">joint_state_controller/JointStateController</rosparam>
  <rosparam param="/amph/joint_state_controller/publish_rate">100</rosparam>
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="--namespace /amph joint_state_controller"
        output="screen" />

  <!-- Publish TF from joint states -->
  <node name="robot_state_publisher" pkg="robot_state_publisher"
        type="robot_state_publisher" output="screen">
    <param name="publish_frequency" value="100.0" />
  </node>

  <!-- Record robot state topics to a bag file (set bag_path:='' to disable) -->
  <node if="$(eval arg('bag_path') != '')"
        name="rosbag_record" pkg="rosbag" type="record"
        args="-O $(arg bag_path) /amph/joint_states /gazebo/model_states"
        output="screen" />

  <!-- Start trajectory replay 2 s after launch (wall-clock, for Gazebo init) -->
  <node if="$(eval arg('npz_path') != '')"
        name="trajectory_replay" pkg="amph" type="replay_trajectory.py"
        output="screen">
    <param name="npz_path" value="$(arg npz_path)" />
    <param name="n_repeat" value="$(arg n_repeat)" />
  </node>

</launch>
